<div class="card">
  <div class="card-body">
    <div class="row row-cols-auto g-2 align-items-center">
      <div class="col-11">
        <div class="input-group">
          <div class="input-group-text">Search Database</div>
          <input (keyup.enter)="handleSearch($event)" type="text" class="form-control" placeholder="UniProt Accessions or Gene Names (multiple using space as delimiter)" [(ngModel)]="data.searchModel">
        </div>
      </div>
      <div class="col-1">
        <button class="btn btn-primary" (click)="handleSearch($event)">Submit</button>
      </div>
    </div>
  </div>
</div>
