<div class="row">
  <div class="col-8">
    <plotly-plot
      [data]="graphData"
      [layout]="graphLayout"
      [updateOnLayoutChange]="true"
      [updateOnDataChange]="true"
      (plotlyClick)="selectData($event)"
      (selected)="selectData($event)"
    >

    </plotly-plot>
  </div>
  <div class="col-4">
    <div class="form-group" style="max-width: 200px">
      <label>Log2FC cutoff</label>
      <input class="form-control" type="number" [(ngModel)]="fcCutoff">
    </div>
    <div class="form-group" style="max-width: 200px">
      <label>Significant cutoff</label>
      <input class="form-control" type="number" [(ngModel)]="significantCutoff">
    </div>
    <div class="form-check">
      <input type="checkbox" id="backgroundGrey" class="form-check-label" [(ngModel)]="background">
      <label for="backgroundGrey">Set background data point grey color</label>
    </div>
    <button class="btn btn-primary mt-2" (click)="draw()">Redraw Plot</button>
  </div>
</div>

